body {
  font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
nav {
  max-width: 800px;
  margin: auto;
}
#menu a:hover,
#mobile-menu ul li a:hover {
  color: black;
}
#menu a {
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

#menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3b82f6;
  transition: width 0.3s ease-in-out;
}

#menu a:hover::after {
  width: 100%;
}
/* Animasi garis bawah untuk menu mobile */
#mobile-menu ul li a {
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

#mobile-menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3b82f6;
  transition: width 0.3s ease-in-out;
}

#mobile-menu ul li a:hover::after {
  width: 100%;
}
/* Gaya untuk tautan aktif */
#menu a.active::after,
#mobile-menu ul li a.active::after {
  width: 100%;
}

#menu a.active,
#mobile-menu ul li a.active {
  color: black; /* Warna teks aktif */
}
